.mainabout {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 3rem;
    color: white;
}

.mainabout__porfile {
    width: 30%;
    border-radius: 50%;
}

.mainabout__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mainabout__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.mainabout__p {
    font-size: 1.7rem;
}

@media (max-width: 740px) {
    .mainabout {
        flex-direction: column;
        align-items: center;
    }
    .mainabout__porfile {
        width: 70%;
    }
}